<a href="https://colab.research.google.com/github/prashankkadam/Maer_1/blob/master/Email_Data_Extracter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Importing the required libraries**

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import io

### **Uploading the excel file**

In [2]:
from google.colab import files
uploaded = files.upload()

Saving static_cons_test.xls to static_cons_test.xls

### **Creating a dataframe**

In [0]:
static_df = pd.read_excel(io.BytesIO(uploaded['static_cons_test.xls']))

In [9]:
static_df.head(25)

   To be forwarded to fueloptmt@maersk.com when completely filled in  ...        Unnamed: 3
0             Please fill in the yellow fields only.                  ...               NaN
1                                                 NaN                 ...               NaN
2                                         Vessel name                 ...               NaN
3                                              IMO no                 ...               NaN
4                                                 NaN                 ...               NaN
5      Static Fuel consumption from vessel experience                 ...               NaN
6         Fuel consumption Idle at anchorage/drifting                 ...  mt MDO / 24 Hour
7                                    Auxillary Engine                 ...               1.4
8                                              Boiler                 ...               0.5
9   Total Fuel consumption in Port Loading  (full ...                 ...            mt MDO
10                                   Auxillary Engine                 ...               2.2
11                                             Boiler                 ...               0.5
12  Total Fuel consumption in Port Discharge (full...                 ...            mt MDO
13                                   Auxillary Engine                 ...               4.2
14                                             Boiler                 ...               0.5
15                                 Inertgas generator                 ...               NaN
16               Fuel consumption for a Full Inerting                 ...            mt MDO
17                                   Auxillary Engine                 ...               NaN
18                                             Boiler                 ...               NaN
19                                 Inertgas generator                 ...               NaN
20            Fuel consumption for a Full Gas freeing                 ...            mt MDO
21                                   Auxillary Engine                 ...               NaN
22                                             Boiler                 ...               NaN
23                                 Inertgas generator                 ...               NaN
24  Fuel consumption for Heating to maintain 57 de...                 ...            mt MDO

[25 rows x 4 columns]

In [8]:
static_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 4 columns):
To be forwarded to fueloptmt@maersk.com when completely filled in    68 non-null object
Unnamed: 1                                                           7 non-null object
Unnamed: 2                                                           31 non-null object
Unnamed: 3                                                           40 non-null object
dtypes: object(4)
memory usage: 2.9+ KB

In [0]:
static_df.columns = ['Key', 'Value_1', 'Value_2', 'Value_3']

In [12]:
static_df.head(5)

                                       Key      Value_1 Value_2 Value_3
0  Please fill in the yellow fields only.           NaN     NaN     NaN
1                                      NaN          NaN     NaN     NaN
2                              Vessel name  Bro Atland      NaN     NaN
3                                   IMO no      9160932     NaN     NaN
4                                      NaN          NaN     NaN     NaN

### **Looping on the dataframe to extract the necessary data in a single iterary cycle of the dataframe**

In [0]:
# Declaring flags 
c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16 = 0, 0, 0, 0 ,0 ,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

# Looping over the dataframe
for index, row in static_df.iterrows():
  
  # Checking for the vessel name in the dataframe key
  if row['Key'] == 'Vessel name':
    # Assigning the vessel name to a local variable
    vessel_name = row['Value_1']
  
  # Checking the fuel consumption at Idle anchorage/drifting 
  if 'Idle' in str(row['Key']):
    continue
  # Assigning the auxillary consumption(HFO/MDO) to local variables
  if c1 == 0 and row['Key'] == 'Auxillary Engine':  
    Idle_aux_HFO = row['Value_2']
    Idle_aux_MDO = row['Value_3']
    c1 = 1
    continue    
  # Assigning the boiler consumption(HFO/MDO) to local variables  
  if c2 == 0 and row['Key'] == 'Boiler':
    Idle_blr_HFO = row['Value_2']
    Idle_blr_MDO = row['Value_3']
    c2 = 1
    continue
  # Assigning the Inert gas generator consumption(HFO/MDO) to local variables    
  if c3 == 0 and row['Key'] == 'Inertgas generator':
    Idle_inr_HFO = row['Value_2']
    Idle_inr_MDO = row['Value_3']
    c3 = 1
    continue
  
  
  # Checking the fuel consumption at Loading
  if 'Loading' in str(row['Key']):
    continue 
  # Assigning the auxillary consumption(HFO/MDO) to local variables  
  if c4 == 0 and row['Key'] == 'Auxillary Engine':  
    Load_aux_HFO = row['Value_2']
    Load_aux_MDO = row['Value_3']
    c4 = 1
    continue
  # Assigning the boiler consumption(HFO/MDO) to local variables  
  if c5 == 0 and row['Key'] == 'Boiler':
    Load_blr_HFO = row['Value_2']
    Load_blr_MDO = row['Value_3']
    c5 = 1
    continue
  # Assigning the Inert gas generator consumption(HFO/MDO) to local variables  
  if c6 == 0 and row['Key'] == 'Inertgas generator':
    Load_inr_HFO = row['Value_2']
    Load_inr_MDO = row['Value_3']
    c6 = 1 
    
  
  # Checking the fuel consumption at Discharge
  if 'Discharge' in str(row['Key']):
    continue 
  # Assigning the auxillary consumption(HFO/MDO) to local variables  
  if c7 == 0 and row['Key'] == 'Auxillary Engine':  
    Disc_aux_HFO = row['Value_2']
    Disc_aux_MDO = row['Value_3']
    c7 = 1
    continue
  # Assigning the boiler consumption(HFO/MDO) to local variables  
  if c8 == 0 and row['Key'] == 'Boiler':
    Disc_blr_HFO = row['Value_2']
    Disc_blr_MDO = row['Value_3']
    c8 = 1
    continue
  # Assigning the Inert gas generator consumption(HFO/MDO) to local variables  
  if c9 == 0 and row['Key'] == 'Inertgas generator':
    Disc_inr_HFO = row['Value_2']
    Disc_inr_MDO = row['Value_3']
    c9 = 1 
  
  # Skipping the unwanted consumptions
  if 'Hot' not in str(row['Key']) and c10 == 0:
    continue
  
  
  # Checking the fuel consumption at Hot Wash
  if 'Hot' in str(row['Key']):
    c10 = 1
    continue 
  # Assigning the auxillary consumption(HFO/MDO) to local variables  
  if c11 == 0 and row['Key'] == 'Auxillary Engine':  
    Hot_aux_HFO = row['Value_2']
    Hot_aux_MDO = row['Value_3']
    c11 = 1
    continue
  # Assigning the boiler consumption(HFO/MDO) to local variables  
  if c12 == 0 and row['Key'] == 'Boiler':
    Hot_blr_HFO = row['Value_2']
    Hot_blr_MDO = row['Value_3']
    c12 = 1
    continue
  # Assigning the Inert gas generator consumption(HFO/MDO) to local variables  
  if c13 == 0 and row['Key'] == 'Inertgas generator':
    Hot_inr_HFO = row['Value_2']
    Hot_inr_MDO = row['Value_3']
    c13 = 1       
  
  # Checking the fuel consumption at Cold Wash
  if 'cold' in str(row['Key']):
    continue 
  # Assigning the auxillary consumption(HFO/MDO) to local variables  
  if c14 == 0 and row['Key'] == 'Auxillary Engine':  
    Cold_aux_HFO = row['Value_2']
    Cold_aux_MDO = row['Value_3']
    c14 = 1
    continue
  # Assigning the auxillary consumption(HFO/MDO) to local variables  
  if c15 == 0 and row['Key'] == 'Boiler':
    Cold_blr_HFO = row['Value_2']
    Cold_blr_MDO = row['Value_3']
    c15 = 1
    continue
  # Assigning the Inert gas generator consumption(HFO/MDO) to local variables  
  if c16 == 0 and row['Key'] == 'Inertgas generator':
    Cold_inr_HFO = row['Value_2']
    Cold_inr_MDO = row['Value_3']
    c16 = 1     
  break

In [0]:
static_final_df = pd.DataFrame(columns=['Vessel', 'Equipment', 'Type', 'Idle', 'Loading', 'Discharge', 'Hot', 'Cold'])

In [73]:
#Clearing all the data from the dataframe
static_final_df.iloc[0:0]

Empty DataFrame
Columns: [Vessel, Equipment, Type, Idle, Loading, Discharge, Hot, Cold]
Index: []

In [0]:
#Appending the data extracted from the excel sheet to a dataframe:
static_final_df.loc[0] = ({'Vessel':vessel_name, 'Equipment':'Auxillary Engine', 'Type':'HFO', 'Idle':Idle_aux_HFO, 'Loading':Load_aux_HFO, 'Discharge':Disc_aux_HFO, 'Hot':Hot_aux_HFO, 'Cold':Cold_aux_HFO})
static_final_df.loc[1] = ({'Vessel':vessel_name, 'Equipment':'Auxillary Engine', 'Type':'MDO', 'Idle':Idle_aux_MDO, 'Loading':Load_aux_MDO, 'Discharge':Disc_aux_MDO, 'Hot':Hot_aux_MDO, 'Cold':Cold_aux_MDO})
static_final_df.loc[2] = ({'Vessel':vessel_name, 'Equipment':'Boiler', 'Type':'HFO', 'Idle':Idle_blr_HFO, 'Loading':Load_blr_HFO, 'Discharge':Disc_blr_HFO, 'Hot':Hot_blr_HFO, 'Cold':Cold_blr_HFO})
static_final_df.loc[3] = ({'Vessel':vessel_name, 'Equipment':'Boiler', 'Type':'MDO', 'Idle':Idle_blr_MDO, 'Loading':Load_blr_MDO, 'Discharge':Disc_blr_MDO, 'Hot':Hot_blr_MDO, 'Cold':Cold_blr_MDO})
static_final_df.loc[4] = ({'Vessel':vessel_name, 'Equipment':'Inertgas generator', 'Type':'HFO', 'Idle':Idle_inr_HFO, 'Loading':Load_inr_HFO, 'Discharge':Disc_inr_HFO, 'Hot':Hot_inr_HFO, 'Cold':Cold_inr_HFO})
static_final_df.loc[5] = ({'Vessel':vessel_name, 'Equipment':'Inertgas generator', 'Type':'MDO', 'Idle':Idle_inr_MDO, 'Loading':Load_inr_MDO, 'Discharge':Disc_inr_MDO, 'Hot':Hot_inr_MDO, 'Cold':Cold_inr_MDO})

In [98]:
# Printing the dataframe
print(static_final_df)

        Vessel           Equipment Type Idle Loading Discharge  Hot Cold
0  Bro Atland     Auxillary Engine  HFO    0       0         0    0    0
1  Bro Atland     Auxillary Engine  MDO  1.4     2.2       4.2  2.2  2.2
2  Bro Atland               Boiler  HFO    0       0         0    0    0
3  Bro Atland               Boiler  MDO  0.5     0.5       0.5  2.2  0.5
4  Bro Atland   Inertgas generator  HFO    0       0         0  NaN  NaN
5  Bro Atland   Inertgas generator  MDO  NaN     NaN       NaN  NaN  NaN